{% extends "layout.html" %}

{% block content %}
<div class="container p-3 shadow bg-light rounded" style="width: 480px;">
    <div class="display-5 text-center">Add New Item</div>
    <form action="">
        <div class="mb-3 mt-3">
            <label for="username" class="form-label">Item Name:</label>
            <input type="text" name="username" id="username" class="form-control" placeholder="Enter Username">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">:</label>
            <input type="password" name="password" id="password" class="form-control" placeholder="Enter Password">
        </div>
        <div class="mb-3 form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="remember"> Remember me
            </label>
        </div>
        <div class="d-grid mb-3">
            <button type="submit" class="btn btn-info fs-5 btn-block">Login</button>
        </div>
    </form>
    <div class="mb-3">
        <p class="fs-4">New here?</p>
        <a href="{{ url_for('register') }}"><button class="btn btn-primary">Register</button></a>
    </div>
</div>
{% endblock content %}