{% extends "layout.html" %}

{% block content %}
<div class="container mt-3">
    <div class="d-flex justify-content-between">
        <div>
            <h4 class="display-6">My Products({{ total }})</h4>
        </div>
        <div class="mt-3">
            <a href="{{ url_for('add_item') }}" class="btn btn-large btn-primary ms-auto">
                <i class="bi bi-patch-plus-fill"></i> Add New Product
            </a>
        </div>
    </div>
    <hr>
</div>

<div class="container mt-3">
    <div id="uitems">
        {% for item in items %}
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <div>
                    <a class="btn fs-5" data-bs-toggle="collapse" href="#{{ item.product_id }}">
                        {{ item.product_name }}
                        {% if item.condition == 'Pending' %}
                        <i class="bi bi-arrow-repeat text-danger"></i>
                        {% else %}
                        <i class="bi-check-circle-fill text-success"></i>
                        {% endif %}
                        <i class="bi bi-caret-down-fill"></i>
                    </a>
                </div>
                <div>
                    {% if item.product_type == 'Buy' %}
                    <span class="badge bg-info-subtle text-info-emphasis fs-6 me-2">
                        {{ item.product_type }}
                    </span>
                    {% else %}
                    <span class="badge bg-danger-subtle text-danger-emphasis fs-6 me-2">
                        {{ item.product_type }}
                    </span>
                    {% endif %}

                    <div class="btn-group">
                        <a href="{{ url_for('item_update', item_id=item.product_id) }}" class="btn btn-sm btn btn-info">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <a href="{{ url_for('item_delete', item_id=item.product_id) }}"
                            class="btn btn btn-sm btn-danger" onclick="return confirm('Are You Sure To Delete?')">
                            <i class="bi bi-trash3-fill"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div id="{{ item.product_id }}" class="collapse" data-bs-parent="#uitems">
                <div class="card-body">
                    <div class="d-flex flex-sm-row">
                        <div class="flex-fill text-center">
                            <img src="{{url_for('static', filename='item_pics/' ~ item.product_pic) }}"
                                alt="{{ item.product_name }}" style="max-width: 200px; max-height: 200px;"
                                class="img-fluid img-thumbnail mx-auto d-block">
                            <a href="{{ url_for('item', item_id=item.product_id) }}"
                            class="btn btn-sm btn-outline-secondary rounded-3 mt-2">
                                <i class="bi bi-eye-fill"></i> View
                            </a>
                        </div>
                        <div class="flex-fill">
                            <div class="text-secondary">
                                Added On: {{ item.entry_date }} at {{ item.entry_time }}
                            </div>
                            <div class="text-secondary">
                                Last Update: {{ item.last_update_date }} at {{ item.last_update_time }}
                            </div>
                            <div><strong>Price Range:</strong> {{ item.price_range }}</div>
                            <p>
                                <strong>Description:</strong>
                                <br>
                                {%for line in item.product_desc%}{%if line=='\n'%}
                                <br>
                                {% else %}{{line}}{%endif%}{%endfor%}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Pagination -->
<div class="container">
    <div class="row mx-auto mt-3 mb-3">
        <div class="col md-12 text-center p-1 border rounded">
            {% for page_num in items.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
            {% if items.page == page_num %}
            <a class="btn btn-info m-2" href="{{ url_for('user_items', user_id=current_user.user_id, page=page_num) }}">
                {{ page_num }}
            </a>
            {% else %}
            <a class="btn btn-outline-info m-2"
                href="{{ url_for('user_items', user_id=current_user.user_id, page=page_num) }}">
                {{ page_num }}
            </a>
            {% endif %}
            {% else %}
            ...
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}