<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
        <title>DormX - {{ title }}</title>
    {% else %}
        <title>DormX</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='files/fav.ico')}}" type="image/x-icon">
</head>
<body>
<!-- Navbar start -->
<nav class="navbar bg-info">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="{{url_for('static', filename='files/logo.png')}}" alt="DormX" style="width:120px;" class="rounded-pill">
        </a>

        <ul class="navbar-nav flex-row me-auto">
            <li class="nav-item pe-3">
                <a class="nav-link" href="{{ url_for('index') }}">Home</a>
            </li>
            <li class="nav-item pe-3">
                <a class="nav-link" href="{{ url_for('add_item') }}">Add Products</a>
            </li>
        </ul>

        <ul class="navbar-nav flex-row ms-auto">
            <li class="nav-item pe-3">
                <a class="nav-link" href="{{ url_for('login') }}">Login</a>
            </li>
            <li class="nav-item pe-3">
                <a class="nav-link" href="{{ url_for('register') }}">Register</a>
            </li>
        </ul>

        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

    </div>
</nav>
<!-- Offcanvas start -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
            <img src="https://api.dicebear.com/6.x/bottts/png?seed=uname" alt="uname" style="width: 40px;"
                class="rounded-pill" />
            Hello, User!
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Edit Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Manage Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-danger" href="{{ url_for('logout') }}">Logout</a>
            </li>
        </ul>
        <form class="d-flex mt-3" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-info" type="submit">Search</button>
        </form>
    </div>
</div>
<!-- Offcanvas end -->

<!-- Notice section start -->
<div class="container mt-2">
    <div class="row">
        <div class="col md-3"></div>
        <div class="col md-6">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible" fade show>
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
        <div class="col md-3"></div>
    </div>
</div>
<!-- Notice section end -->


{% block content %}

{% endblock content %}

<script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
</body>
</html>