<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
        <title>DormX - {{ title }}</title>
    {% else %}
        <title>DormX</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
</head>
<body>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible" fade show>
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        {{ message }}
    </div>
        <!-- <div class="alert-{{category}} alert-dismissible" fade show>
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            {{ message }}
        </div> -->
    {% endfor %}
{% endif %}
{% endwith %}

{% block content %}

{% endblock content %}

<script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
</body>
</html>