{% extends "layout.html" %}

{% block content %}

<div class="container mt-3 d-flex justify-content-center">
    <form action="{{ url_for('search') }}" role="search">
    <div class="input-group input-group-lg">
        <span class="input-group-text" id="s_icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                viewBox="0 0 16 16">
                <path
                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
            </svg>
        </span>
        <input type="text" value="{{ title }}" name="key" class="form-control" aria-label="Large" aria-describedby="s_icon">
        <button type="submit" class="btn btn-info">
            Search
        </button>
    </div>
    </form>
</div>

{% if products %}
<div class="container mt-3 text-center">
    Search result for: <strong>{{ title }}</strong>
</div>

<div class="container mt-3 mb-3">
    <div class="row mx-auto">
        {% for item in products %}
        <div class="col-md-3 mt-3">
            <div class="card rounded" style="width: 250px;">
                <img src="{{url_for('static', filename='item_pics/' ~ item.product_pic) }}" alt="Product"
                    class="card-img-top p-1" style="max-height: 160px;">
                <div class="card-body">
                    <a href="{{ url_for('item', item_id=item.product_id) }}"
                        class="card-title fs-5 text-decoration-none">
                        {{ item.product_name[:23] }}
                    </a>
                    <p class="card-text">
                        {% if item.product_type == 'Buy' %}
                        <span class="badge bg-info">{{ item.product_type }}</span>
                        {% else %}
                        <span class="badge bg-primary">{{ item.product_type }}</span>
                        {% endif %}
                        <br>
                        {{ item.price_range }}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endif %}

{% endblock content %}